<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeWithFriends"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Complaint.Sendban"
            android:exported="false"
            android:label="@string/title_activity_sendban"
            android:theme="@style/Theme.CodeWithFriends" />
        <activity
            android:name=".Viewphote.ViewPhoto"
            android:exported="false"
            android:label="@string/title_activity_view_photo"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".test.TestActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.CodeWithFriends" />
        <activity
            android:name=".Aboutusers.Aboutuser"
            android:exported="false"
            android:label="@string/title_activity_aboutuser"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".createamspeck.TeamSpeak"
            android:exported="false"
            android:label="@string/title_activity_team_speak"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".chats.ui.theme.TestActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".firebase.Addtask"
            android:exported="false"
            android:label="@string/title_activity_addtask"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".roomsetting.Roomsetting"
            android:exported="false"
            android:label="@string/title_activity_roomsetting"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".chats.Chat"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".findroom.FindRoom"
            android:exported="false"
            android:label="@string/title_activity_find_room"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".Activity.CreatyActivity.CreativyRoom"
            android:exported="false"
            android:label="@string/title_activity_creativy_room"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".Startmenu.Main_menu"
            android:exported="false"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/NoAnimation" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/NoAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".push.PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>